/* Tailwind v4 */
@import "tailwindcss";

/* Light & dark theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode variables */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply theme */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Smooth transition */
html {
  transition: background-color 0.25s, color 0.25s;
}

* {
  transition: background-color 0.15s, color 0.15s;
}
